script#raspbee-remote-template(type='text/template')
  li.sortable.button.no-header.raspbee-device
    label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
    span.attributes(data-bind="template: { name: 'attribute-template', foreach: $data.device.attributes, afterRender: $data.afterAttributeRender }")
    div.buttons.button-control.ui-controlgroup.ui-controlgroup-horizontal.ui-corner-all.ui-mini.no-carousel-slide(data-role='controlgroup', data-type='horizontal', data-mini='true', data-enhanced='true')
        .ui-controlgroup-controls
          a.ui-first-child.ui-last-child.ui-btn.ui-corner-all.button(name='powerButton', data-bind='click: onButtonPress.bind($data,"power")') Power
          a.ui-first-child.ui-btn.ui-corner-all.button(name='upButton', data-bind='click: onButtonPress.bind($data,"up")') Up
          a.ui-last-child.ui-btn.ui-corner-all.button(name='downButton', data-bind='click: onButtonPress.bind($data,"down")') Down
          a.ui-first-child.ui-btn.ui-corner-all.button(name='leftButton', data-bind='click: onButtonPress.bind($data,"left")') Left
          a.ui-last-child.ui-btn.ui-corner-all.button(name='rightButton', data-bind='click: onButtonPress.bind($data,"right")') Right

script#raspbee-switch-template(type='text/template')
  li.sortable.no-header.raspbee-device
    div.item-inner
      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      div.ui-dimlevel
        select.switch(data-bind="attr: { id: switchId }, value: switchState")
          option(value="off")=__('Off')
          option(value="on")=__('On')
        span.presence(data-bind="template: {name: 'attribute-template', data: $data.device.getAttribute('presence'), afterRender: $data.afterAttributeRender }")

script#raspbee-cover-template(type='text/template')
  li.sortable.no-header.raspbee-device
    div.item-inner
      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      span.attributes(data-bind="template: { name: 'attribute-template', foreach: $data.device.attributes, afterRender: $data.afterAttributeRender }")
      div.ui-dimlevel
        .button-control.ui-controlgroup.ui-controlgroup-horizontal.ui-corner-all.ui-mini.no-carousel-slide(data-role='controlgroup', data-type='horizontal', data-mini='true', data-enhanced='true')
          .ui-controlgroup-controls
            a.ui-first-child.ui-btn.ui-corner-all(name='closeButton', data-bind='click: modeClose')=__("close")
            a.ui-btn.ui-corner-all(name='stopButton', data-bind='click: modeStop')=__("stop")
            a.ui-last-child.ui-btn.ui-corner-all(name='openButton', data-bind='click: modeOpen')=__("open")
        input.ddimmer(min="0", max="100", step="1", data-highlight="true",
          data-bind="attr: { id: dsliderId }, value: dsliderValue")

script#raspbee-warning-template(type='text/template')
  li.sortable.no-header.raspbee-device
    div.item-inner
      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      span.attributes(data-bind="template: { name: 'attribute-template', foreach: $data.device.attributes, afterRender: $data.afterAttributeRender }")
      div.ui-dimlevel
        .button-control.ui-controlgroup.ui-controlgroup-horizontal.ui-corner-all.ui-mini.no-carousel-slide(data-role='controlgroup', data-type='horizontal', data-mini='true', data-enhanced='true')
          .ui-controlgroup-controls
            a.ui-first-child.ui-btn.ui-corner-all(name='offButton', data-bind='click: modeOff')=__("off")
            a.ui-btn.ui-corner-all(name='silentButton', data-bind='click: modeSilent')=__("silent")
            a.ui-btn.ui-corner-all(name='soundButton', data-bind='click: modeSound')=__("sound")
            a.ui-last-child.ui-btn.ui-corner-all(name='longButton', data-bind='click: modeLong')=__("long")

script#raspbee-dimmer-template(type='text/template')
  li.sortable.no-header.raspbee-device
    div.item-inner
      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      div.ui-dimlevel
        select.switch(data-bind="attr: { id: switchId }, value: switchState")
          option(value="off")=__('Off')
          option(value="on")=__('On')
        span.presence(data-bind="template: {name: 'attribute-template', data: $data.device.getAttribute('presence'), afterRender: $data.afterAttributeRender }")
        div.ui-smallspacer
        input.ddimmer(min="0", max="100", step="1", data-highlight="true",
          data-bind="attr: { id: dsliderId }, value: dsliderValue")

script#raspbee-ct-template(type='text/template')
  li.sortable.no-header.raspbee-device
    div.item-inner
      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      div.ui-dimlevel
        select.switch(data-bind="attr: { id: switchId }, value: switchState")
          option(value="off")=__('Off')
          option(value="on")=__('On')
        span.presence(data-bind="template: {name: 'attribute-template', data: $data.device.getAttribute('presence'), afterRender: $data.afterAttributeRender }")
        div.ui-smallspacer
        input.ddimmer(min="0", max="100", step="1", data-highlight="true",
          data-bind="attr: { id: dsliderId }, value: dsliderValue")
      div.ui-color
        div.ui-spacer
        input.cdimmer(min="0", max="100", step="1", data-highlight="true",
          data-bind="attr: { id: csliderId }, value: csliderValue")

script#raspbee-rgbct-template(type='text/template')
  li.sortable.no-header.raspbee-device
    div.item-inner
      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      div.ui-dimlevel
        select.switch(data-bind="attr: { id: switchId }, value: switchState")
          option(value="off")=__('Off')
          option(value="on")=__('On')
        span.presence(data-bind="template: {name: 'attribute-template', data: $data.device.getAttribute('presence'), afterRender: $data.afterAttributeRender }")
        div.ui-smallspacer
        input.ddimmer(min="0", max="100", step="1", data-highlight="true",
          data-bind="attr: { id: dsliderId }, value: dsliderValue")
      div.ui-color
        div.ui-colorpicker(class="ui-flipswitch ui-corner-all")
          input.light-color(data-bind="attr: { id: pickId }")
        div.ui-midspacer
        input.cdimmer(min="0", max="100", step="1", data-highlight="true",
          data-bind="attr: { id: csliderId }, value: csliderValue")


script#raspbee-group-rgbct-template(type='text/template')
  li.sortable.no-header.raspbee-device
    div.item-inner
      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      div.ui-dimlevel
        select.switch(data-bind="attr: { id: switchId }, value: switchState")
          option(value="off")=__('Off')
          option(value="on")=__('On')
        div.ui-midspacer
        input.ddimmer(min="0", max="100", step="1", data-highlight="true",
          data-bind="attr: { id: dsliderId }, value: dsliderValue")
      div.ui-color
        div.ui-colorpicker(class="ui-flipswitch ui-corner-all")
          input.light-color(data-bind="attr: { id: pickId }")
        div.ui-midspacer
        input.cdimmer(min="0", max="100", step="1", data-highlight="true",
          data-bind="attr: { id: csliderId }, value: csliderValue")


script#raspbee-rgb-template(type='text/template')
  li.sortable.no-header.raspbee-device
    div.item-inner
      label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
      div.ui-dimlevel
        select.switch(data-bind="attr: { id: switchId }, value: switchState")
          option(value="off")=__('Off')
          option(value="on")=__('On')
        span.presence(data-bind="template: {name: 'attribute-template', data: $data.device.getAttribute('presence'), afterRender: $data.afterAttributeRender }")
        div.ui-smallspacer
        input.ddimmer(min="0", max="100", step="1", data-highlight="true",
          data-bind="attr: { id: dsliderId }, value: dsliderValue")
      div.ui-color
        div.ui-colorpicker(class="ui-flipswitch ui-corner-all")
          input.light-color(data-bind="attr: { id: pickId }")


script#raspbee-system-template(type='text/template')
  li.sortable.button.no-header.raspbee-device
    label.device-label(data-bind="text: name, tooltip: $data.labelTooltipHtml")
    span.attributes(data-bind="template: { name: 'attribute-template', foreach: $data.device.attributes, afterRender: $data.afterAttributeRender }")
    div.buttons.button-control.ui-controlgroup.ui-controlgroup-horizontal.ui-corner-all.ui-mini.no-carousel-slide(data-role='controlgroup', data-type='horizontal', data-mini='true', data-enhanced='true')
        .ui-controlgroup-controls
          a.ui-first-child.ui-btn.ui-corner-all.dlbutton(name='discover lights', data-bind='click: setLightDiscovery') Discover Lights
          a.ui-btn.ui-corner-all.dsbutton(name='disover sensors', data-bind='click: setSensorDiscovery') Discover Sensors
          a.ui-btn.ui-corner-all.scbutton(name='send config', data-bind='click: setConfig') Send config
          a.ui-last-child.ui-btn.ui-corner-all.cbbutton(name='create backup', data-bind='click: setBackup') Create Backup
